<div class="profile-body">
    <img src="https://media.giphy.com/media/WMDFRZ1XK9xDi/giphy.gif" alt="Your profile image">
    <div class="profile-info-container">
        <h1>Welcome back {{ user.username }}</h1>
        <h2>Email: {{ user.email }}</h2>
        <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</p>
        <button><a href="/profile/logout">Log out</a></button>
    </div>
</div>